 
 			
BULK
INSERT   dbo.[ADAMI_ARTISTI_REPERTOIRE_SoundRecording_201605200_2]

FROM 'E:\TempSQL\ADAMI_ARTISTI_REPERTOIRE_SoundRecording_201605200.txt'
WITH 
(
FIELDTERMINATOR = ';',
rowterminator = '\n',
FIRSTROW = 1 

) 


SELECT  COUNT(*)
FROM    [ADAMI_ARTISTI_REPERTOIRE_SoundRecording_201605200_2]
 
